<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="itensMult.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <div class="page">
        <aside class="aside">Aside</aside>
        <main class="main">
            Main
            <section>Content 1</section>
            <section>Content 2</section>
            <section>Content 3</section>
        </main>
    </div>
</body>
</html>