<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="9fotos3col.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <div class="gallery">
        <img src="https://source.unsplash.com/random?id=123" alt="">
        <img src="https://source.unsplash.com/random?id=122" alt="">
        <img src="https://source.unsplash.com/random?id=124" alt="">
        <img src="https://source.unsplash.com/random?id=12" alt="">
        <img src="https://source.unsplash.com/random?id=1" alt="">
        <img src="https://source.unsplash.com/random?id=13" alt="">
        <img src="https://source.unsplash.com/random?id=3" alt="">
        <img src="https://source.unsplash.com/random?id=2" alt="">
        <img src="https://source.unsplash.com/random?id=121" alt="">
    </div>
</body>
</html>