<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="headerMenuNav.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="#" class="logo">LOGO</a>
            <ul class="box">
                <li>Home</li>
                <li>Services</li>
                <li>Testimonials</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>
</body>
</html>